/* line 38, /Users/itomblack/Repos/iblack/src/sass/_variables.scss */
*, *::before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 44, /Users/itomblack/Repos/iblack/src/sass/_variables.scss */
ul {
  padding: 0;
  list-style: none; }

/* line 7, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
.header-band {
  background-color: #3f88e8;
  -webkit-animation: changeCol 60s infinite;
  animation: changeCol 60s infinite;
  opacity: 1;
  text-align: right;
  height: 70px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 30, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 30, 0.2);
  z-index: 10; }
  @media screen and (max-width: 480px) {
    .header-band {
      height: 50px; } }

/* line 26, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
.home-icon {
  position: fixed;
  z-index: 505;
  top: 20px;
  left: 20px;
  width: 33px;
  height: 28px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/icons.svg);
  background-position: -20px -15px;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .home-icon {
      top: 10px; } }

/* line 37, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
.menu-link {
  position: fixed;
  top: 18px;
  right: 20px;
  width: 46px;
  z-index: 515;
  height: 40px; }
  @media screen and (max-width: 480px) {
    .menu-link {
      top: 8px; } }
  /* line 47, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
  .menu-link:hover {
    cursor: pointer; }
    /* line 49, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
    .menu-link:hover .menu-open {
      color: #52f4ff; }
    /* line 51, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
    .menu-link:hover .menu-button-pseudos::before, .menu-link:hover .menu-button-pseudos::after {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-color: #52f4ff; }

/* line 58, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
.menu-link-content {
  width: 100%; }

/* line 62, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
.menu-open {
  position: absolute;
  right: 0px;
  top: 6px;
  font-size: 17px;
  font-weight: 400;
  color: white;
  z-index: 515;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/* line 75, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
.menu-button-pseudos {
  cursor: pointer;
  position: fixed;
  z-index: 515; }
  /* line 80, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
  .menu-button-pseudos::before, .menu-button-pseudos::after {
    content: " ";
    background-color: white;
    width: 46px;
    height: 2px;
    position: fixed;
    right: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease; }
  /* line 91, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
  .menu-button-pseudos::before {
    top: 18px; }
  /* line 94, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
  .menu-button-pseudos::after {
    top: 50px; }
  @media screen and (max-width: 480px) {
    /* line 99, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
    .menu-button-pseudos::before {
      top: 8px; }
    /* line 100, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
    .menu-button-pseudos::after {
      top: 40px; } }

/* line 104, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
.menu-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #000030;
  opacity: 0.95;
  left: 150%;
  padding-top: 5em;
  z-index: 510;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease; }
  /* line 117, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
  .menu-panel ul li {
    width: 100%;
    width: -webkit-calc(100% - 64px);
    width: calc(100% - 64px);
    margin: 0 auto;
    text-align: center;
    height: 3em;
    padding-top: 1em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 21px; }
    /* line 127, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
    .menu-panel ul li:hover {
      background-color: #7700FF; }
    @media screen and (max-width: 480px) {
      .menu-panel ul li {
        height: 2.3em;
        padding-top: 0.4em;
        font-size: 18px;
        width: -webkit-calc(100% - 32px);
        width: calc(100% - 32px); } }
  /* line 139, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
  .menu-panel a {
    text-decoration: none;
    color: white;
    font-weight: 700; }

/* line 146, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-open {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0; }

/* line 153, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-button-pseudos::before, input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-button-pseudos::after {
  width: 21px;
  height: 4px;
  border-radius: 0; }
/* line 159, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-button-pseudos::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 27px;
  right: 29px;
  background-color: #3f88e8; }
/* line 165, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-button-pseudos::after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 40px;
  right: 29px;
  background-color: #3f88e8; }
@media screen and (max-width: 480px) {
  /* line 173, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
  input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-button-pseudos::before {
    top: 17px; }
  /* line 174, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
  input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-button-pseudos::after {
    top: 30px; } }

/* line 178, /Users/itomblack/Repos/iblack/src/sass/styles-menu.scss */
input[type=checkbox]:checked ~ .menu-panel {
  -webkit-transform: translate(-150%, 0);
  -ms-transform: translate(-150%, 0);
  transform: translate(-150%, 0); }
