//===============================================================================
// MIXINS
//===============================================================================

// CLEAR FIX
// @include clearfix;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// APPEARANCE
// @include apperance;
@mixin appearance( $value: none ) {
  -webkit-appearance: $value;
     -moz-appearance: $value;
          appearance: $value;
}

// HIDE TEXT
// @include hide-text;
@mixin hide-text {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}

// MARGIN AUTO
// @include margin-auto;
@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

// NO SELECTION ON TEXT
// @include no-text-select;
@mixin no-text-select {
 -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

// box sizing
// @include box-sizing;
@mixin box-sizing( $type: border-box ) {
    -webkit-box-sizing: $type;
       -moz-box-sizing: $type;
         -o-box-sizing: $type;
        -ms-box-sizing: $type;
            box-sizing: $type;
}


@mixin changeCol {
  animation: changeCol 60s infinite;
}

// @include anim-in(0.3s);
@mixin opacity-in( $time: none ) {
  animation: opacityUp $time ease;
}

//===============================================================================
// ICONS
//===============================================================================


@mixin cssSprite( $spriteVals ) {
  width: nth( $spriteVals, 1 );
  height: nth( $spriteVals, 2 );
  background-repeat: no-repeat;
  background-image: url( #{ nth( $spriteVals, 3 ) } );
  background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
}

$iconsPath: '../img/icons/icons';
$iconsURL: $iconsPath + '.svg';
$iconsx2URL: $iconsPath + '.svg';
$instagram: 26px 26px $iconsURL -179px -18px;
$twitter: 26px 26px $iconsURL -142px -18px;
$linkedin: 26px 26px $iconsURL -105px -18px;
$pinterest: 26px 26px $iconsURL -68px -18px;
$sains-icon: 200px 200px $iconsURL -20px -742px;
$hex-icon: 200px 200px $iconsURL -472px -519px;
$cbt-icon: 200px 200px $iconsURL -246px -519px;
$sow-icon: 200px 200px $iconsURL -20px -519px;
$metrics-icon: 201px 200px $iconsURL -472px -296px;
$whisky-icon: 216px 200px $iconsURL -238px -296px;
$blues-icon: 200px 200px $iconsURL -20px -296px;
$adf-icon: 200px 200px $iconsURL -472px -73px;
$home-icon: 33px 28px $iconsURL -20px -15px;
$pdp-icon: 200px 200px $iconsURL -20px -73px;
$beacon-icon: 200px 200px $iconsURL -246px -73px;




// $sprite-svg: url(../img/icons/icons.svg);


