
//===============================================================================
// VARIABLES
//===============================================================================
// $yellow: #F2DB00;

$coral: #FF5754;
$orange: #FF972A;
$grey: #CACCD9;
$midgrey: #555570;
$ink: #000030;
// $purple: #7700FF;

$dblue: #4d45ff;
$midblue: #3f88e8;
$lblue: #52f4ff;
$bluegreen: #3fe89b;
$green: #63ff66;

$yellow: $midblue;
$purple: #C243A7;


$short: 0.3s;
$med: 0.55s;
$long: 0.85s;
$vLong: 1.4s;

$mid-screen: 768px;
$sml-screen: 480px;


//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


