// define variables
@import "_variables.scss";

.cv-wrap {
	border: 1px dotted $dblue;
	padding: 24px;
	margin: 24px auto 24px auto;
	text-align: left;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	max-width: 1000px;
	

	h3, h4, p, a, span  { font-family: 'Open Sans', helvetica, arial, sans-serif; }	
	
	h3 {
		text-transform: none;
		font-size: 26px;
		line-height: 39px;
		font-weight: 700;
		color: $ink;
	}

	h4 {
		font-size: 18px;
		line-height: 27px;
		color: $dblue;
		margin: 0 0 6px 0;
	}

	h5 {
		color: $dblue;
		font-size: 14px;
		line-height: 21px;
		margin: 0;

		span { color: $ink;	}
	}

	p, ul {
		font-size: 14px;
    margin: 0 0 0 0;
    line-height: 21px;
    display: block;
	}

	ul {
		li {
			margin-left: 15px;
			position: relative;

			&::before {
				content: "•";
				position: absolute;
				left: -15px;
				top: 0;
				color: $dblue;
				font-size: 18px; 
			}
		}
	}
}

.cv-section {
	border-bottom: 1px dotted $dblue;
	padding: 12px 0;
}

.cv-work-block {
  margin: 0 0 14px 80px;
  position: relative;

  .cv-w-b-date {
    position: absolute;
    top: 0;
    left: -80px;
  }
}




.bold { font-weight: 600; }

[class*="col-"] {
	display: inline-block;
	vertical-align: top;
}
.col-33 {	width: 33%; }

.col-66 {	width: 66%; }
.col-100 { width: 100%; }

.colpad-left { padding: 0 0 0 10px; }
.colpad-right { padding: 0 10px 0 0; }

.col-border-right { border-right: 1px dotted $dblue; }

