//===============================================================================
// IMPORTS
//===============================================================================

// define mixins & functions
@import "_mixins.scss";

// define variables
@import "_variables.scss";


.content-block {
  // width: 100%;
  // height: 100%;
  // height: calc(100% - 40px);
  padding: 60px 20px 30px 20px;
  // overflow: scroll;

  @media screen and (min-width: 350px) {
    padding: 80px 20px 30px 20px;
  }

  @media screen and (min-width: 480px) {
    padding: 100px 30px 30px 30px;
  }
}

.content-intro {
 width: 100%;
 float: left;

  @media screen and (min-width: 850px) {
    width: 50%;
    max-width: 470px;
  }
}

.content-sect-wrap {
  float: left;
  width: 100%;
  height: 330px;
  position: relative;
  clear: left;

  @media screen and (min-width: 350px) { width: 80%;}
  @media screen and (min-width: 450px) { height: 300px;}
  @media screen and (min-width: 750px) { height: 230px;}
}

.content-images {
  position: absolute;
  margin-bottom: 50px;
  max-height: 90%;
  top: 525px;
  width: 0;

  @media screen and (min-width: 450px) { top: 470px; }
  @media screen and (min-width: 720px) { top: 440px; }
  @media screen and (max-width: 850px) { width: 100%; }

  @media screen and (min-width: 850px) {
    left: 450px;
    top: 100px;
  }
}

.content-img-intro {
  position: absolute;
  left: 0;
  width: 400px;
  margin-left: -45px;
  opacity: 1;
  // max-height: 600px;
  transition: all $long ease-in-out;

  @media screen and (max-width: 850px) { margin-left: -85px; }
}


[class*="content-img-wrap"] {
  float: left;
  position: relative;
  opacity: 1;
  transition: all $vLong ease-in-out;
}

[class*="content-img-view"] {
  position: absolute;
}

.content-img {
  position: absolute;
  top: 0;
  left: 0;
}
.content-img-wrap-mobile {
  width: 280px;
  height: 490px;

  @media screen and (min-width: 451px) {
    display: none;
  }
}

.content-img-view-mobile {
  top: 32px;
  left: 28px;
  width: 82%;
  height: 79%;
}

.content-img-wrap-tablet {
  width: 410px;
  height: 300px;

  @media screen and (min-width: 650px) {
    width: 550px;
    height: 400px;
  }

  @media screen and (max-width: 450px) {
    display: none;
  }
  @media screen and (min-width: 850px) {
    display: none;
  }
}

.content-img-view-tablet {
  top: 20px;
  left: 22px;
  width: 82%;
  height: 80%;
  @media screen and (min-width: 650px) {
    top: 25px;
    left: 30px;
  }
}

.content-img-wrap-desktop {
  width: 700px;
  height: 400px;
  margin-right: 25px;

  @media screen and (max-width: 849px) {
    display: none;
  }
}

.content-img-view-desktop {
  top: 24px;
  left: 69px;
  width: 82%;
  height: 81%;
}

.wrap-hide {
  opacity: 0;
  transform: translate(-1800px,0);
}

.content-nav {
  width: 85%; //for non calc browsers
  width: calc( 100% - 90px );
  font-family: 'Oswald', helvetica, arial, sans-serif;
  font-weight: 300;
  text-align: center;
  float: left;
  border-bottom: solid 1px $grey;
  padding-bottom: 10px;
  margin: 75px 0 35px 45px;
  
  @media screen and (max-width: 480px) { 
    margin: 55px 0 35px 45px;
  }
  @media screen and (max-width: 350px) { 
    margin: 55px 0 20px 20px;
    width: 100%;
  }
    
  li {

    width: 50%;
    height: 25px;
    color: $ink;
    float: left;
    position: relative;

    @media screen and (min-width: 450px){ 
      width: 33.33%;
      height: 30px;
    }
    @media screen and (min-width: 580px){ width: 25%; }
    @media screen and (min-width: 920px){ width: 12.45%; }

    a {
      color: $ink;
      text-decoration: none;
      transition: all $short ease;
    }

    &::before, &::after {
      content: "•";
      font-size: 2.5em;
      color: $yellow;
      line-height: 0em;
      height: 10px;
      position: absolute;
      top: 11px;
      left: 0;
      transition: all $short ease;
    }

    &::after { left: 100%; }

    &:hover {
      a { color: $coral; }
    }

  }
}

.content-prev, .content-next {
  width: 40px;
  height: 40px;
  background-color: $grey;
  border-radius: 50px;
  float: left;
  margin: 0 1em 0 0;
  position: relative;
  cursor: pointer;
  transition: all $long ease;

  &::after {
    content: "";
    width: 15px;
    height: 15px;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    top: 13px;
    left: 9px;
  }

  &:hover {
    background-color: $ink;
  }
}

.content-prev {
  clear: left;
  &::after {
    transform: rotate(135deg);
    left: 15px;
  }
}

.content-para {
  position: absolute;
  border-left: solid 1px $grey;
  padding-left: 1em;
  top: 10px;
  margin-bottom: 20px;

  transform: translateX(-200%);
  transition: all $long ease;
  
  h3 {
    color: $ink;
    transform: translateX(-40%);
    transition: all $vLong ease;
  }

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content-visible {
  transform: translateX(0);
  h3 {
    color: $midgrey;
    transform: translateX(0%);
  }
}


.view-button {
  font-family: 'Oswald', helvetica, arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $coral;
  color: white;
  padding: 2px 5px;
  width: 145px;
  display: block;

  &::after {
    content: "";
    background: url(../img/icons/open-window.svg) 99% center no-repeat;
    background-size: 20px;
    padding-right: 27px;
    display: inline-block;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-bottom: -1px;
  }
}


//===============================================================================
// DESIGN IMAGES
//===============================================================================

//.content-view-1 is to be ignored!!

.content-view-2 {
  &.content-img-view-mobile {
    background: url(../img/content/bespokea-mobile.png) no-repeat;
    background-size: 224px 385px;
  }
  &.content-img-view-tablet {
    background: url(../img/content/bespokea-tablet.png) no-repeat;
    background-size: 439px 323px;
    @media screen and (max-width: 650px ){ background-size: 327px 242px; }
  }
  &.content-img-view-desktop {
    background: url(../img/content/bespokea-desktop.png) no-repeat;
    background-size: 567px 319px;
  }
}

.content-view-3 {
  &.content-img-view-mobile {
    background: url(../img/content/sowgrow-mobile.png) no-repeat;
    background-size: 224px 385px;
  }
  &.content-img-view-tablet {
    background: url(../img/content/sowgrow-tablet.png) no-repeat;
    background-size: 439px 323px;
    @media screen and (max-width: 650px ){ background-size: 327px 242px; }
  }
  &.content-img-view-desktop {
    background: url(../img/content/sowgrow-desktop.png) no-repeat;
    background-size: 567px 319px;
  }
}














