// define variables
@import "_mixins.scss";
@import "_variables.scss";



.header-band {
	background-color: $midblue;
	@include changeCol;
	opacity: 1;
	text-align: right;
	height: 70px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	box-shadow: 0 2px 5px rgba(0,0,30,.2);

	z-index: 10;

	@media screen and (max-width: 480px) {
		height: 50px;
	}
}

.home-icon {
	position: fixed;
	z-index: 505;
	top: 20px;
	left: 20px;
	@include cssSprite ( $home-icon );
	cursor: pointer;

	@media screen and (max-width: 480px) { top: 10px; }
}

.menu-link {
	position: fixed;
	top: 18px;
	right: 20px;
	width: 46px;
	z-index: 515;
	height: 40px;

	@media screen and (max-width: 480px) { top: 8px; }
	
	&:hover {
		cursor: pointer;
		.menu-open { color: $lblue;	}

		.menu-button-pseudos::before, .menu-button-pseudos::after {
			transition: all $short ease;
			background-color: $lblue;
		} 
	}
}

.menu-link-content {
	width: 100%;
}

.menu-open {
	position: absolute;
	right: 0px;
	top: 5px;
	font-size: 21px;
	color: white;
	z-index: 515;
	width: 100%;
	text-align: center;
	transition: all $short ease;
}

.menu-button-pseudos {
	cursor: pointer;
	position: fixed;
	z-index: 515;

		&::before, &::after {
			content: " ";
			background-color: white;
	    width: 46px;
	    height: 2px;
	    position: fixed;
	    right: 20px;
	    border-radius: 20px;
	    transition: all $med ease;
		}

		&::before {
			top: 18px;
		}
		&::after {
	    top: 50px;
		}

		@media screen and (max-width: 480px) {
			&::before {	top: 8px;	}
			&::after { top: 40px;	}
		}
	}

.menu-panel {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: $ink;
	opacity: 0.95;
	left: 150%;
	padding-top: 5em;
	z-index: 510;

	transition: all $med ease;

	ul li {
		width: 100%;
		width: calc(100% - 64px);
		margin: 0 auto;
		text-align: center;
		height: 3em;
		padding-top: 1em;
		transition: all $short ease;
		font-size: 21px;

		&:hover {
			background-color: $purple;
		}

		@media screen and (max-width: 480px) {
			height: 2.3em;
			padding-top: 0.4em;
			font-size: 18px;
			width: calc(100% - 32px);
		}
	}

	a {
		font-family: 'Oswald', helvetica, arial, sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
	}
}

input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-open {
  transform: translateX(-50px);
  opacity: 0;
}
	
input[type=checkbox]:checked ~ .menu-link .menu-link-content .menu-button-pseudos{
	
	&::before, &::after {
		width: 21px;
		height: 4px;
		border-radius: 0;
	}

	&::before {
		transform: rotate(45deg);
		top: 27px;
		right: 29px;
		background-color: $coral;
	}
	&::after {
		transform: rotate(135deg);
		top: 40px;
		right: 29px;
		background-color: $coral;
	}

	@media screen and (max-width: 480px) {
		&::before {	top: 17px;	}
		&::after { top: 30px;	}
	}
}

input[type=checkbox]:checked ~ .menu-panel{
		transform: translate(-150%, 0);	
}

