// define mixins & functions
@import "_mixins.scss";

// define variables
@import "_variables.scss";


.page-intro-wrap {
	background: #7700FF;
  margin: 8px;
  padding: 32px 32px 10px 32px;
  text-align: center;
  color: white;
  @include changeCol;

  h2, p { 
  	color: white;
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
  }

  p {
  	cursor: pointer;
  	transition: all .2s ease;
  	display: inline-block;
  	margin-top: 0;

  	span {
	    display: block;
	    color: white;
	    max-height: 0;
	    overflow: hidden;
			transition: all $short ease;
  	}

  	.quote-person {
  		display: inline-block;
  		border: 1px solid #000030;
  		padding: 6px 12px;
  	}

  	&:hover {
  		color: $lblue;
  		// opacity: 0.8;
  		span {
  			max-height: 100px;
  		}
  	}
  }
}

.design-holder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: calc(100% - 60px);
	overflow: auto;

	.project-content, .project-title {
		display: none;

		.js-on-page & {
			display: block;
		}
	}

}

.project-wrap {
  width: 100%;
  width: calc(100% - 16px);
  // min-height: 40%;
  // padding-bottom: 16px;
  // float: left;
  display: inline-block;
  position: relative;
  background-color: white;
  margin: 8px;
  transition: all $short ease;
  border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0,0,0,.4);


	@media screen and (min-width: 650px) {
		width: 50%;
		width: calc(50% - 20px);
	}

	@media screen and (min-width: 950px) {
		width: 33%;
		width: calc(33% - 16px);
	}

	@media screen and (min-width: 1350px) {
		width: 25%;
		width: calc(25% - 20px);
		// min-height: 50%;
		// min-height: calc(50% - 16px);
	}

	&:hover {
		transform: scale(0.96);
		.project-title {
			.tile-img { 
				opacity: 1;
			}
		}
		.title-text-wrap {
			opacity: 0;
		}
			
	}
}

.project-title {
	width: 100%;
	padding: 0 10%;
	margin: 0 auto;
	text-align: center;
	position: relative;
  transition: all $short ease-in-out;
  cursor: pointer;
  overflow: hidden;

  h3, p {
  	max-width: 90%;
  	max-width: 330px;
  	margin: 0 auto;
  }

  p {
  	height: 70px;
  }

	h3 {
		font-size: 2em;
		text-align: center;
		margin-top: 24px;
		margin-bottom: 16px;
		transition: all $short ease;
	}

	.title-img-wrap {
		width: 100%;
		height: 100%;

		// .main-img {	display: none; }

		.tile-img, .tile-back {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		.tile-img {
			background-size: cover;
			opacity: .2;
			transition: opacity 0.3s ease;
		}

		.tile-back {
			background-color: #000015;
		}
	}
	
	.tile-1 { background: url("../img/design/pdp/pdp-photo.jpg") no-repeat center center; }
	.tile-2 { background: url("../img/design/beacon/beacon-photo.jpg") no-repeat center center; }
	.tile-3 { background: url("../img/design/adf/adf-photo.jpg") no-repeat center center; }
	.tile-4 { background: url("../img/design/harp/harp-photo.jpg") no-repeat center center; }
	.tile-5 { background: url("../img/design/whisky/whisky-photo.jpg") no-repeat center center; }
	.tile-6 { background: url("../img/design/metrics/metrics-photo.jpg") no-repeat center center; }
	.tile-7 { background: url("../img/design/harvest/harvest-photo.jpg") no-repeat center center; }
	.tile-8 { background: url("../img/design/cbt/cbt-photo.jpg") no-repeat center center; }

	.project-tags {
		width: 100%;
		margin: 0 auto;
		padding: 0;

		.label-list {
			margin: 12px 0 0 0;
			opacity: 1;
		}
	}

	.project-tags { display: none; }

	.full-image-close { display: none; }
}

.title-text-wrap {
	position: relative;
	animation: all $short ease;
	padding: 48px 0 64px 0;
	color: white;
	transition: opacity 0.3s ease;

	h3, p { color: white; }

	&.js-fix-header {
		background-color: white;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px;
		z-index: 200;
		opacity: .9;

		h3 {
			transition: none;
			padding: 0 !important;
			margin: 14px auto !important; 
		}

		.close-design {	top: 13px;}

		@media screen and (max-width: 550px) {
			height: 50px;
			h3 { margin: 10px auto; }
		}
	}
}

// when opened ********************//
.design-holder &  {

	&.project-wrap {
		position: absolute;
		width: 100%;
		min-height: 100%;
		min-height: calc(100% - 60px);
		margin: 0;
		z-index: 5;
		overflow-y: scroll;

		&:hover {	transform: none; }

		@media screen and (max-width: 480px) {
			min-height: calc(100% - 40px);
		}
	}


	.project-title {
		max-height: 600px;
		background-color: white;
		max-width: 100%;
		padding: 0;

		p { display: none; }

		.project-tags { display: none;}

		.main-img {
			display: block;
			width: 100%;

		}
		
		.tile-back { display: none; }

		.tile-img {
			position: initial;
			height: 250px;
    	opacity: 1;
		
    	@media screen and (min-height: 600px) { height: 350px;	}
    	@media screen and (min-height: 800px) { height: 450px;	}
		}

		.title-text-wrap { padding: 0; }

		img {
			opacity: 1;
			max-height: 100%;
			box-shadow: 0 2px 5px rgba(0,0,10,.5);
		}

		h3 {
			padding: 32px 0 0 0;
			margin: 14px auto;
			position: static;
			max-height: 150px;
			color: $ink;
		}

		.full-image-close { display: block; }
	}

	.project-content {
		max-height: 5000px;
		padding-bottom: 12px;
		overflow-y: visible;
	}

	.spacer { 
		display: block;
		width: 100%;
		height: 80px;
	}

} //end when opened


.project-content {
	height: 1px;
	max-height: 0;
	overflow-y: hidden;

	p, h3, h4, h5, ul, li {
		width: 600px;
		max-width: 86%;
		margin-left: auto;
		margin-right: auto;
		
	}

	p, li {
    font-size: 18px;
    line-height: 28px;
    margin: 8px auto 16px auto;

    &.project-note {
			font-style: italic;
			font-size: 14px;
		}
	}

	p { text-align: justify;}

	li { text-align: left;}

	h4 {
		text-transform: uppercase;
		font-weight: 400;
		color: $ink;
		margin-top: 28px;
	}
	
	.bullet-list {
		margin-top: 21px;
		margin-bottom: 21px;
	}

	@media screen and (max-width: 400px) {
	  p, ul, li {
	 		font-size: 16px;
	 		line-height: 25px;
	  }
	}
}

.project-circles {
	width: 100%;
	max-width: 850px;
	margin: 24px auto 0 auto;
	display: block;
}


.project-circles-wrap {
  width: 100%;
  max-width: 850px;
  margin: 36px auto 36px auto;
  display: block;
  text-align: center;
}


.project-central-wrap {
	img {
		margin: 32px auto;
		display: block;
		max-width: 100%;
	}
}

.circle-image {
  width: 260px;
  height: 260px;
  border-radius: 260px;
  display: inline-block;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0,0,10,.5);
}

.img-hex-1 { background-image: url(/img/design/guesshex/hex-circle-1.png); }
.img-hex-2 { background-image: url(/img/design/guesshex/hex-circle-2.png); }
.img-hex-3 { background-image: url(/img/design/guesshex/hex-circle-3.png); }

.img-harvest-1 { background-image: url(/img/design/harvest/harvest-circle-1.png); }
.img-harvest-2 { background-image: url(/img/design/harvest/harvest-circle-2.png); }
.img-harvest-3 { background-image: url(/img/design/harvest/harvest-circle-3.png); }

.img-metrics-0 { background-image: url(/img/design/metrics/metrics-circle-0.png); }
.img-metrics-1 { background-image: url(/img/design/metrics/metrics-circle-1.png); }
.img-metrics-2 { background-image: url(/img/design/metrics/metrics-circle-2.png); }
.img-metrics-3 { background-image: url(/img/design/metrics/metrics-circle-3.png); }
.img-metrics-4 { background-image: url(/img/design/metrics/metrics-circle-4.png); }

@media screen and (max-width: 860px) {
  .project-circles-wrap { max-width: 450px; }
  .circle-image { margin-bottom: 12px; }
}

@media screen and (max-width: 450px) {
  .circle-image {
    width: 260px;
    height: 260px;
    margin: 28px auto;
    display: block;
  }
}

.design-link {
	margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: -12px;
  color: $coral;

  &:hover {
  	color: $dblue;
  }
}


.close-design { 
	top: 30px; 
	@media screen and (max-width: 550px) { top: 36px;}
}

.hidden-box {
	height: 100%;
	display: inline;
}


.padding-top-40 { padding-top: 40px; }


// Animations
.opacity-in-1 { @include opacity-in(0.4s) }
.opacity-in-2 { @include opacity-in(0.8s) }
.opacity-in-3 { @include opacity-in(1.2s) }
.opacity-in-4 { @include opacity-in(1.6s) }
.opacity-in-5 { @include opacity-in(2.0s) }
.opacity-in-6 { @include opacity-in(2.4s) }
.opacity-in-7 { @include opacity-in(2.6s) }



// YOUTUBE VIDEO WRAP

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
	margin-top: 24px;
	margin-bottom: 24px;
	max-width: 853px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 853px) {
		padding-top: 0;
		padding-bottom: 480px;
	}
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 853px;
    max-height: 480px;
}


.hide-project { display: none; }


