// define mixins & functions
@import "_mixins.scss";

// define variables
@import "_variables.scss";

.page-intro-wrap {
	background: #7700FF;
  margin: 8px;
  padding: 18px 32px 3px 32px;
  text-align: center;
  color: white;
  @include changeCol;

  h2, p { 
  	color: white;
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
  }

  p {
  	cursor: pointer;
  	transition: all .2s ease;
  	display: inline-block;
  	margin-top: 0;

  	span {
	    display: block;
	    color: white;
	    max-height: 0;
	    overflow: hidden;
			transition: all $short ease;
  	}

  	.quote-person {
  		display: inline-block;
  		border: 1px solid #000030;
  		padding: 6px 12px;
  	}

  	&:hover {
  		color: $lblue;
  		span {
  			max-height: 100px;
  		}
  	}
  }
}

.design-holder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// height: calc(100% - 60px);
	overflow: auto;

	.project-content, .project-title {
		display: none;

		.js-on-page & {
			display: block;
		}
	}

}

.project-wrap {
  width: 100%;
  width: calc(100% - 16px);
  height: 340px;
  display: inline-block;
  position: relative;
  background-color: white;
  margin: 8px;
  transition: all $short ease;
  border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0,0,0,.4);


	@media screen and (min-width: 650px) {
		width: 50%;
		width: calc(50% - 20px);
	}

	@media screen and (min-width: 950px) {
		width: 33%;
		width: calc(33.33% - 20px);
	}

	@media screen and (min-width: 1350px) {
		width: 25%;
		width: calc(25% - 21px);
	}

	&:hover {
		transform: scale(0.96);
	}
}

.project-title {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
  transition: all $short ease-in-out;
  cursor: pointer;
  overflow: hidden;
  background-color: $ink;

  h3, p {
  	max-width: 90%;
  	max-width: 330px;
  	margin: 0 auto;
  }

	.full-image-close { display: none; }
}

.title-icon {
 height: 235px;
 width: 100%;
 padding: 20px 0;

 &.icon-bottom { padding: 35px 0; }

 .title-icon-img {
 		width: 80%;
 		max-width: 200px;
    height: 100%;
    margin: 0 auto;
 	}
}

//background colours
.back-pdp { 
	background-color: #14A1DC;
	.title-icon-img { @include cssSprite( $pdp-icon ); }
}
.back-whisky {
	background-color: #ffffff;
	.title-icon-img { @include cssSprite( $whisky-icon ); }
}
.back-adf {
	background-color: #550061;
	.title-icon-img { @include cssSprite( $adf-icon ); }
}
.back-sow {
	background-color: #204E7A;
	.title-icon-img { @include cssSprite( $sow-icon ); }
}
.back-beacon {
	background-color: #00A497;
	.title-icon-img { @include cssSprite( $beacon-icon ); }
}
.back-harp { 
	background-color: #A000FF;
	.title-icon-img { @include cssSprite( $blues-icon ); }
}
.back-metrics {
	background-color: #940254;
	.title-icon-img { @include cssSprite( $metrics-icon ); }
}
.back-cbt {
	background-color: #550061;
	.title-icon-img { @include cssSprite( $cbt-icon ); }
}
.back-hex {
	background-color: #7D3191;
	.title-icon-img { @include cssSprite( $hex-icon ); }
}
.back-sains {
	background-color: #EF6600;
	.title-icon-img { @include cssSprite( $pdp-icon ); }
}

.title-text-wrap {
	position: relative;
	animation: all $short ease;
	padding: 6px 16px;
	color: white;
	margin-top: 21px;

	transition: opacity 0.3s ease;

	h3, p { color: white; }

	h3 {
		color: white;
		font-size: 21px;
		margin-bottom: 4px;
	}

	p {
		color: $purple;
		font-size: 14px;
	}
}

.title-img-wrap { display: none; }


// when opened ********************//
.design-holder &  {

	.title-img-wrap {
		display: block;
		width: 100%;
		max-height: 500px;
		overflow: hidden;
		
		img {	width: 100%; }
	}
	
	h3 {
		font-size: 2em;
		text-align: center;
		margin-top: 24px;
		margin-bottom: 16px;
		transition: all $short ease;
	}

	&.project-wrap {
		position: absolute;
		width: 100%;
		min-height: 100%;
		min-height: calc(100% - 60px);
		margin: 0;
		z-index: 5;
		overflow-y: scroll;

		&:hover {	transform: none; }

		@media screen and (max-width: 480px) {
			min-height: calc(100% - 40px);
		}
	}


	.project-title {
		max-height: 600px;
		background-color: white;
		max-width: 100%;
		padding: 0;

		p { display: none; }

		.project-tags { display: none;}

		.main-img {
			display: block;
			width: 100%;

		}
		
		.tile-back { display: none; }

		.tile-img {
			position: initial;
			height: 250px;
    	opacity: 1;
		
    	@media screen and (min-height: 600px) { height: 350px;	}
    	@media screen and (min-height: 800px) { height: 450px;	}
		}

		.title-text-wrap { padding: 0; }

		img {
			opacity: 1;
			max-height: 100%;
			box-shadow: 0 2px 5px rgba(0,0,10,.5);
		}

		h3 {
			padding: 32px 0 0 0;
			margin: 14px auto;
			position: static;
			max-height: 150px;
			color: $ink;
		}
	}

	.project-content {
		max-height: 5000px;
		padding-bottom: 12px;
		overflow-y: visible;
	}

	.spacer { 
		display: block;
		width: 100%;
		height: 80px;
	}

} //end when opened


//stick header
.main-title-band.js-fix-header {
		background-color: white;
		background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); 

		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px;
		z-index: 200;
		opacity: .9;

		h3 {
			transition: none;
			padding: 0 !important;
			margin: 14px auto !important; 
		}

		.close-design {	top: 13px; }
}
// end sticky header//

.project-content {
	height: 1px;
	max-height: 0;
	overflow-y: hidden;

	p, h3, h4, h5, ul, li {
		width: 600px;
		max-width: 86%;
		margin-left: auto;
		margin-right: auto;
	}

	p, li {
    margin: 0px auto 14px auto;

    &.project-note {
			font-style: italic;
			font-size: 14px;
		}
	}

	li { text-align: left;}

	h4 {
		text-transform: uppercase;
		font-weight: 400;
		color: $ink;
		margin-top: 2em;
	}

	h5 {
		text-transform: uppercase;
		margin-top: 1em;

		&:first-of-type { margin-top: 0.3em;}
	}
	
	.bullet-list {
		margin-top: 12px;
		margin-bottom: 21px;
	}

	@media screen and (max-width: 400px) {
	  p, ul, li {
	 		font-size: 16px;
	 		line-height: 25px;
	  }
	}
}

.project-circles {
	width: 100%;
	max-width: 850px;
	margin: 24px auto 0 auto;
	display: block;
}


.project-circles-wrap {
  width: 100%;
  max-width: 850px;
  margin: 36px auto 36px auto;
  display: block;
  text-align: center;
}


.project-central-wrap {
	img {
		margin: 32px auto;
		display: block;
		max-width: 100%;
	}
}

.circle-image {
  width: 260px;
  height: 260px;
  border-radius: 260px;
  display: inline-block;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0,0,10,.5);
}

.img-hex-1 { background-image: url(/img/design/guesshex/hex-circle-1.png); }
.img-hex-2 { background-image: url(/img/design/guesshex/hex-circle-2.png); }
.img-hex-3 { background-image: url(/img/design/guesshex/hex-circle-3.png); }

.img-harvest-1 { background-image: url(/img/design/harvest/harvest-circle-1.png); }
.img-harvest-2 { background-image: url(/img/design/harvest/harvest-circle-2.png); }
.img-harvest-3 { background-image: url(/img/design/harvest/harvest-circle-3.png); }

.img-metrics-0 { background-image: url(/img/design/metrics/metrics-circle-0.png); }
.img-metrics-1 { background-image: url(/img/design/metrics/metrics-circle-1.png); }
.img-metrics-2 { background-image: url(/img/design/metrics/metrics-circle-2.png); }
.img-metrics-3 { background-image: url(/img/design/metrics/metrics-circle-3.png); }
.img-metrics-4 { background-image: url(/img/design/metrics/metrics-circle-4.png); }

@media screen and (max-width: 860px) {
  .project-circles-wrap { max-width: 450px; }
  .circle-image { margin-bottom: 12px; }
}

@media screen and (max-width: 450px) {
  .circle-image {
    width: 260px;
    height: 260px;
    margin: 28px auto;
    display: block;
  }
}

.design-link {
	margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: -12px;
  color: $coral;

  &:hover {
  	color: $dblue;
  }
}

.non-load {
	position: relative;
	text-align: center;

	&:before {
		content: "";
		position: absolute;
		width: 50px;
		height: 50px;
		border: 3px solid $grey;
		border-radius: 100px;
		border-left: 3px solid $purple;
    display: block;
    left: calc(50% - 25px);
    top: -12px;
    animation: spin .6s linear infinite;
	}
}

@keyframes spin { 
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); }
}

.close-design { 
	top: 30px;
	@media screen and (max-width: 550px) { top: 36px;}
}

.hidden-box {
	height: 100%;
	display: inline;
}


.padding-top-40 { padding-top: 40px; }


// Animations
.opacity-in-1 { @include opacity-in(0.4s) }
.opacity-in-2 { @include opacity-in(0.8s) }
.opacity-in-3 { @include opacity-in(1.2s) }
.opacity-in-4 { @include opacity-in(1.6s) }
.opacity-in-5 { @include opacity-in(2.0s) }
.opacity-in-6 { @include opacity-in(2.4s) }
.opacity-in-7 { @include opacity-in(2.6s) }



// YOUTUBE VIDEO WRAP

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
	margin-top: 24px;
	margin-bottom: 24px;
	max-width: 853px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 853px) {
		padding-top: 0;
		padding-bottom: 480px;
	}
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 853px;
    max-height: 480px;
}


.hide-project { display: none; }


