//===============================================================================
// IMPORTS
//===============================================================================

// define mixins & functions
@import "_mixins.scss";

// define variables
@import "_variables.scss";

.text-center {
  text-align: center;
  width: 100%;
}

.contact-info {
  margin-top: 60px;
  transform: scale(1);
  transition: all $med ease;

   &:hover {
    transform: scale(1.075);
  }
}
.contact-email {

  text-decoration: none;
  color: $ink;
  transition: $short;

  @media screen and (max-width: 550px) {
    font-size: 0.7em;
  }

  @media screen and (max-width: 400px) {
    font-size: 0.6em;
  }
}

.colFadeAnim {
  animation: colFade 20s infinite;
}

.moveDown {
  animation: moveDown $vLong ease;
}

.opacityUp {
  animation: opacityUp $vLong ease-in;
}

.contact-buttons{
  margin-top: 50px;
  margin-bottom: 50px;
  @include margin-auto;
  @include clearfix;
  text-align: center;
}

.icon-twitter::before {  @include cssSprite( $twitter ); }
.icon-instagram::before {  @include cssSprite( $instagram ); }
.icon-pinterest::before {  @include cssSprite( $pinterest ); }
.icon-linkedin::before {  @include cssSprite( $linkedin ); }

.icon-tw

.moveUp1 { animation: moveUp 0.7s ease; }
.moveUp2 { animation: moveUp 0.9s ease; }
.moveUp3 { animation: moveUp 1.1s ease; }
.moveUp4 { animation: moveUp 1.3s ease; }


.center-button {
  display: inline-block;
  float: none !important;
  margin: auto;
  text-align: center;
}

//===============================================================================
// ANIMATIONS
//===============================================================================

@keyframes colFade {
  0% { color: $purple; }
  50% { color: $midblue; }
  100% { color: $purple; }
}

@keyframes moveDown {
  0% { 
    opacity: 0;
    transform: translate(0,-50px);
   }
  10% { opacity: 0; }
   100% { 
    opacity: 1;
    transform: translate(0,0);
   }
}

@keyframes moveUp {
  0% { 
    opacity: 0;
    transform: translate(0,100px);
   }
  10% { opacity: 0; }
   100% { 
    opacity: 1;
    transform: translate(0,0);
   }
}

@keyframes opacityUp {
  0% { opacity: 0;}
  100% { opacity: 1; }
}