// define variables
@import "_variables.scss";

.cv-margin {
	margin: 0 8px;
}

.cv-wrap {
	border: 1px dotted $dblue;
	padding: 24px;
	margin: 24px auto 24px auto;
	text-align: left;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	max-width: 1000px;
	

	h3, h4, p, a, span  { font-family: 'Open Sans', helvetica, arial, sans-serif; }	
	
	h3 {
		text-transform: none;
		font-size: 26px;
		line-height: 39px;
		font-weight: 700;
		color: $ink;
	}

	h4 {
		font-size: 18px;
		line-height: 27px;
		color: $dblue;
		margin: 0 0 6px 0;
	}

	h5 {
		color: $dblue;
		font-size: 14px;
		line-height: 21px;
		margin: 0;

		span { color: $ink;	}
	}

	p, ul {
		font-size: 14px;
    line-height: 21px;
    display: block;
	}

	p { margin: 0 0 0 0; }
}

.cv-section {
	border-bottom: 1px dotted $dblue;
	padding: 12px 0;

	&:last-of-type { border-bottom: none; }
}

.cv-work-block {
  margin: 0 0 14px 80px;
  position: relative;

  .cv-w-b-date {
    position: absolute;
    top: 0;
    left: -80px;
  }

  @media screen and (max-width: $sml-screen) {
    
    margin: 32px 0 42px 0;
		
    .cv-w-b-date { 
    	top: -24px;
    	left: 0;

    	p {
    		display: inline;
    	}
    }
   }
}

.label-list {
	margin: 11px 0 12px 0;
  display: block;

	li {
		display: inline-block;
		border: 1px solid $midblue;
		padding: 6px 8px;
		margin: 0 3px 7px 0;
		font-size: 14px;
		line-height: 21px;
		width: auto;
	}
}


.bullet-list {
	margin: 0 0 0 0;

	li {
		margin: 4px 0 4px 15px;
		position: relative;

		&::before {
			content: "•";
			position: absolute;
			left: -15px;
			top: 1px;
			color: $dblue;
			font-size: 18px; 
		}
	}
}

.bold { font-weight: 600; }
.text-grey, .text-grey p { color: darken($grey, 20); }


[class*="col-"] {
	display: inline-block;
	vertical-align: top;
}

.table { display: table; }
.table-cell { display: table-cell; }

.col-33 {	width: 33%; }
.col-66 {	width: 66%; }
.col-100 { width: 100%; }

@media screen and (max-width: $mid-screen) {
	.col-md-100 { 
		width: 100%;
		border-bottom: 1px dotted $dblue;

		.col-md-100 { border-bottom: none; }

		&.col-border-right { border-right: none; }
		&.colpad-left { padding: 12px 0 0 0; }
		&.table { display: inline-block; }
		&.table-cell { display: inline-block; }
	}

	.col-md-33 {
		width: 33%;
	}
}

@media screen and (max-width: $sml-screen) {
	.col-sml-100 { 
		width: 100%;

		&.colpad-left { padding: 12px 0 0 0; }
	}
}


.colpad-left { padding: 0 0 0 10px; }
.colpad-right { padding: 0 10px 0 0; }

.col-border-right { border-right: 1px dotted $dblue; }

