/* line 5, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 12, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
body {
  margin: 0; }

/* line 31, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 40, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* line 47, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
[hidden], template {
  display: none; }

/* line 63, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
a {
  background: transparent; }

/* line 69, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 77, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 83, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 88, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 93, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 99, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 105, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 111, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 118, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 122, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 130, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
img {
  border: 0; }

/* line 135, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 143, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 148, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 155, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
pre {
  overflow: auto; }

/* line 163, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 182, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 189, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
button {
  overflow: visible; }

/* line 198, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
button, select {
  text-transform: none; }

/* line 208, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* line 215, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 221, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 228, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
input {
  line-height: normal; }

/* line 238, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/* line 247, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 253, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 263, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 268, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 276, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 282, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
textarea {
  overflow: auto; }

/* line 288, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 296, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 302, /Users/itomblack/Repos/iblack/src/sass/_normalize.scss */
td, th {
  padding: 0; }

/* line 26, /Users/itomblack/Repos/iblack/src/sass/_variables.scss */
*, *::before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 32, /Users/itomblack/Repos/iblack/src/sass/_variables.scss */
ul {
  padding: 0;
  list-style: none; }

/* line 14, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-block {
  width: 100%;
  padding: 60px 20px 30px 20px; }
  /* line 8, /Users/itomblack/Repos/iblack/src/sass/_mixins.scss */
  .content-block:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 350px) {
    .content-block {
      padding: 80px 20px 30px 20px; } }
  @media screen and (min-width: 480px) {
    .content-block {
      padding: 100px 30px 30px 30px; } }

/* line 29, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-intro {
  width: 100%;
  float: left;
  position: relative; }
  @media screen and (min-width: 850px) {
    .content-intro {
      width: 50%;
      max-width: 430px; } }

/* line 40, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-sect-wrap {
  float: left;
  width: 100%;
  height: 330px;
  position: relative;
  clear: left; }
  @media screen and (min-width: 350px) {
    .content-sect-wrap {
      width: 90%; } }
  @media screen and (min-width: 450px) {
    .content-sect-wrap {
      height: 300px;
      width: 80%; } }
  @media screen and (min-width: 750px) {
    .content-sect-wrap {
      height: 230px; } }

/* line 55, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-images {
  position: absolute;
  margin-bottom: 50px;
  max-height: 90%;
  top: 525px;
  width: 0; }
  /* line 8, /Users/itomblack/Repos/iblack/src/sass/_mixins.scss */
  .content-images:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 450px) {
    .content-images {
      top: 470px; } }
  @media screen and (min-width: 720px) {
    .content-images {
      top: 440px; } }
  @media screen and (max-width: 850px) {
    .content-images {
      width: 100%; } }
  @media screen and (min-width: 850px) {
    .content-images {
      left: 450px;
      top: 100px; } }

/* line 73, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.height-450 {
  height: 450px; }

/* line 77, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-intro, .content-img-profile-1, .content-img-profile-2 {
  position: absolute;
  left: 0;
  width: 400px;
  margin-left: -45px;
  opacity: 1;
  -webkit-transition: all 0.85s ease-in-out;
  transition: all 0.85s ease-in-out; }

@media screen and (max-width: 850px) {
  .content-img-intro {
    margin-left: -85px; } }

@media screen and (max-width: 850px) {
  .content-img-profile-1, .content-img-profile-2 {
    margin-top: -65px;
    margin-left: 0; } }

/* line 97, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-profile-1 {
  max-width: 300px;
  height: 400px; }

/* line 102, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-profile-2 {
  left: 205px; }
  @media screen and (max-width: 500px) {
    .content-img-profile-2 {
      display: none; } }

/* line 108, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
[class*="content-img-wrap"] {
  float: left;
  position: relative;
  opacity: 1;
  -webkit-transition: all 1.4s ease-in-out;
  transition: all 1.4s ease-in-out; }

/* line 115, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
[class*="content-img-view"] {
  position: absolute;
  -webkit-transition: all 1.4s ease;
  transition: all 1.4s ease; }

/* line 120, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img {
  position: absolute;
  top: 0;
  left: 0; }

/* line 125, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-wrap-mobile {
  width: 280px;
  height: 490px; }
  @media screen and (min-width: 451px) {
    .content-img-wrap-mobile {
      display: none; } }

/* line 134, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-view-mobile {
  top: 32px;
  left: 28px;
  width: 82%;
  height: 79%; }

/* line 141, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-wrap-tablet {
  width: 410px;
  height: 300px; }
  @media screen and (min-width: 650px) {
    .content-img-wrap-tablet {
      width: 550px;
      height: 400px; } }
  @media screen and (max-width: 450px) {
    .content-img-wrap-tablet {
      display: none; } }
  @media screen and (min-width: 850px) {
    .content-img-wrap-tablet {
      display: none; } }

/* line 158, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-view-tablet {
  top: 18px;
  left: 21px;
  width: 81%;
  height: 79%; }
  @media screen and (min-width: 650px) {
    .content-img-view-tablet {
      top: 24px;
      left: 30px; } }

/* line 169, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-wrap-desktop {
  width: 700px;
  height: 400px;
  margin-right: 25px; }
  @media screen and (max-width: 849px) {
    .content-img-wrap-desktop {
      display: none; } }

/* line 179, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-img-view-desktop {
  top: 24px;
  left: 69px;
  width: 82%;
  height: 81%; }

/* line 186, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.wrap-hide {
  opacity: 0;
  -webkit-transform: translate(-1800px, 0);
  -ms-transform: translate(-1800px, 0);
  transform: translate(-1800px, 0); }

/* line 191, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-nav {
  width: 110px;
  max-height: 30px;
  overflow-y: hidden;
  position: absolute;
  top: 55px;
  right: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  /* line 203, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-nav::after, .content-nav::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #000030;
    top: 18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  /* line 212, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-nav::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 8px; }
  /* line 216, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-nav::before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 0; }
  /* line 221, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-nav:hover {
    max-height: 500px; }
    /* line 223, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
    .content-nav:hover::after {
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      right: 0; }
  /* line 229, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-nav ul {
    background-color: #FF5754; }
  /* line 233, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-nav li {
    font-family: 'Oswald', helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 5px 5px 7px;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    /* line 243, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
    .content-nav li:hover {
      background-color: #FF972A; }

/* line 250, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-nav-title {
  font-family: 'Oswald', helvetica, arial, sans-serif;
  font-weight: 300;
  border-bottom: solid 1px #FF5754;
  line-height: 1em;
  padding: 3px 0;
  margin: 7px 0 0 0; }

/* line 260, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-prev, .content-next {
  width: 40px;
  height: 40px;
  background-color: #CACCD9;
  border-radius: 50px;
  float: left;
  margin: 0 1em 0 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.85s ease;
  transition: all 0.85s ease; }
  /* line 271, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-prev::after, .content-next::after {
    content: "";
    width: 15px;
    height: 15px;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
    display: block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 13px;
    left: 9px; }
  /* line 284, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-prev:hover, .content-next:hover {
    background-color: #000030; }

/* line 289, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-prev {
  clear: left; }
  /* line 291, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-prev::after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 15px; }

/* line 297, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-para {
  position: absolute;
  border-left: solid 1px #CACCD9;
  padding-left: 1em;
  top: 10px;
  margin-bottom: 20px;
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
  -webkit-transition: all 0.85s ease;
  transition: all 0.85s ease; }
  /* line 307, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-para h3 {
    color: #000030;
    -webkit-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    transform: translateX(-40%);
    -webkit-transition: all 1.4s ease;
    transition: all 1.4s ease; }
  /* line 314, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-para p:first-child {
    margin-top: 0; }
  /* line 317, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-para p:last-child {
    margin-bottom: 0; }

/* line 323, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
  /* line 325, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .content-visible h3 {
    color: #555570;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

@media screen and (max-width: 650px) {
  .hide-mobile {
    display: none !important; } }

/* line 337, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.view-button {
  font-family: 'Oswald', helvetica, arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FF5754;
  color: white;
  padding: 2px 5px;
  display: inline-block;
  border-right: 2px solid #F2DB00;
  border-bottom: 2px solid #FF972A;
  border-left: 2px solid white;
  border-top: 2px solid white;
  position: relative; }
  /* line 355, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .view-button::after {
    content: "";
    background: url(../img/icons/open-window.svg) 99% center no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
    padding-right: 27px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-bottom: -1px; }
  /* line 369, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  .view-button:hover {
    margin-top: 2px;
    margin-left: 2px;
    border-right: 2px solid #FF5754;
    border-bottom: 2px solid #FF5754;
    border-left: 2px solid white;
    border-top: 2px solid white; }

/* line 381, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.text-underline {
  border-bottom: 2px solid #CACCD9; }

/* line 392, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-1.content-img-view-mobile {
  background: url(../img/content/emoti-mobile.png) no-repeat; }
/* line 393, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-1.content-img-view-tablet {
  background: url(../img/content/emoti-tablet.png) no-repeat; }
/* line 394, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-1.content-img-view-desktop {
  background: url(../img/content/emoti-desktop.png) no-repeat; }

/* line 398, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-2.content-img-view-mobile {
  background: url(../img/content/sowgrow-mobile.png) no-repeat; }
/* line 399, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-2.content-img-view-tablet {
  background: url(../img/content/sowgrow-tablet.png) no-repeat; }
/* line 400, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-2.content-img-view-desktop {
  background: url(../img/content/sowgrow-desktop.png) no-repeat; }

/* line 404, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-3.content-img-view-mobile {
  background: url(../img/content/bespokea-mobile.png) no-repeat; }
/* line 405, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-3.content-img-view-tablet {
  background: url(../img/content/bespokea-tablet.png) no-repeat; }
/* line 406, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-3.content-img-view-desktop {
  background: url(../img/content/bespokea-desktop.png) no-repeat; }

/* line 410, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-4.content-img-view-mobile {
  background: url(../img/content/whisky-mobile.png) no-repeat; }
/* line 411, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-4.content-img-view-tablet {
  background: url(../img/content/whisky-tablet.png) no-repeat; }
/* line 412, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-4.content-img-view-desktop {
  background: url(../img/content/whisky-desktop.png) no-repeat; }

/* line 416, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-5.content-img-view-mobile {
  background: url(../img/content/allyalex-mobile.png) no-repeat; }
/* line 417, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-5.content-img-view-tablet {
  background: url(../img/content/allyalex-tablet.png) no-repeat; }
/* line 418, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-5.content-img-view-desktop {
  background: url(../img/content/allyalex-desktop.png) no-repeat; }

/* line 422, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-6.content-img-view-mobile {
  background: url(../img/content/ND-mobile.png) no-repeat; }
/* line 423, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-6.content-img-view-tablet {
  background: url(../img/content/ND-tablet.png) no-repeat; }
/* line 424, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-6.content-img-view-desktop {
  background: url(../img/content/ND-desktop.png) no-repeat; }

/* line 428, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-7.content-img-view-mobile {
  background: url(../img/content/worldmap-mobile.png) no-repeat; }
/* line 429, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-7.content-img-view-tablet {
  background: url(../img/content/worldmap-tablet.png) no-repeat; }
/* line 430, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-7.content-img-view-desktop {
  background: url(../img/content/worldmap-desktop.png) no-repeat; }

/* line 434, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-8.content-img-view-mobile {
  background: url(../img/content/attain-mobile.png) no-repeat; }
/* line 435, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-8.content-img-view-tablet {
  background: url(../img/content/attain-tablet.png) no-repeat; }
/* line 436, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.content-view-8.content-img-view-desktop {
  background: url(../img/content/attain-desktop.png) no-repeat; }

/* line 447, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
[class*="content-view"].content-img-view-mobile {
  -webkit-background-size: 224px 385px;
  background-size: 224px 385px; }
/* line 449, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
[class*="content-view"].content-img-view-tablet {
  -webkit-background-size: 439px 323px;
  background-size: 439px 323px; }
  @media screen and (max-width: 650px) {
    [class*="content-view"].content-img-view-tablet {
      -webkit-background-size: 327px 242px;
      background-size: 327px 242px; } }
/* line 454, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
[class*="content-view"].content-img-view-desktop {
  -webkit-background-size: 567px 319px;
  background-size: 567px 319px; }

/* line 457, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.full-width {
  width: 100%; }

/* line 462, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
.slideIn {
  -webkit-animation: slideIn 1.4s;
  animation: slideIn 1.4s; }

@-webkit-keyframes slideIn {
  /* line 468, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate(-400px, 0);
    transform: translate(-400px, 0); }

  /* line 472, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  10% {
    opacity: 0; }

  /* line 473, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes slideIn {
  /* line 468, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate(-400px, 0);
    transform: translate(-400px, 0); }

  /* line 472, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  10% {
    opacity: 0; }

  /* line 473, /Users/itomblack/Repos/iblack/src/sass/styles-content.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
